@charset "UTF-8";

/* 공통 - 텍스트 색상 */
.gradientText{background: linear-gradient(to right, #F8B519, #F89419);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent; display: inline-block;}
.mainColor{color: #FFB200;}
/* .gradientGrow{ filter:drop-shadow(0 0 4px #FFB200) drop-shadow(0 0 8px #FFC733) drop-shadow(0 0 12px #FFE066); animation: subtleGlow 3s ease-in-out infinite alternate;}
  @keyframes subtleGlow {
    0% {
      filter: drop-shadow(0 0 3px #FFB200)
              drop-shadow(0 0 6px #FFC733)
              drop-shadow(0 0 10px #FFE066);
    }
    100% {
      filter: drop-shadow(0 0 4px #FFB200)
              drop-shadow(0 0 8px #FFC733)
              drop-shadow(0 0 12px #FFE066);
    }
  } */

/* 가운뎅영역 */
.container{max-width: 1240px; margin: 0 auto; padding: 0 20px;}

/* 헤더 */
#headerWrap{position: fixed; top:-300px; left:0; right:0;  z-index: 999; transition: all 1.5s;}
#headerWrap.active{top:0;}
#headerWrap.scroll{background-color: #fff; box-shadow: 0 10px 10px rgba(0,0,0,.1);}
#headerWrap.scroll .menuBox .menuList li h2 a,
#headerWrap.scroll .loginBox a{color: #000;}
#headerWrap.scroll .menuBox::after,
#headerWrap.scroll .menuBox .menuList::after{background-color: #000;}
#headerWrap .layoutBox{flex-shrink: 0; display: flex; align-items: center; gap: 0 50px;}
#headerWrap .headerBox{display: flex; align-items: center; gap: 0 50px; justify-content: space-between;}
#headerWrap .logoBox h1 a,
#headerWrap .logoBox h1 a img{display: block;}
#headerWrap .logoBox h1 a img{width: 170px;}
#headerWrap .menuBox{display: flex; align-items: center; gap: 0 50px; position: relative;}
#headerWrap .menuBox::after{content: ''; position: absolute; top:31px; right:-26px; width: 1px; height: 12px; background-color: #fff;}
#headerWrap .menuBox .menuList{position: relative; display: flex; align-items: center; gap: 0 0;}
#headerWrap .menuBox .menuList::after{content: ''; position: absolute; top:31px; right:-26px; width: 1px; height: 12px; background-color: #fff;}
#headerWrap .menuBox .menuList:last-child::after{display: none;}
#headerWrap .menuBox .menuList li h2 a{position: relative; padding: 26px 25px; display: block; color: #fff; font-weight: 500; font-size: 16px; transition: all .3s;}
#headerWrap .loginBox a::before,
#headerWrap .menuBox .menuList li h2 a::before{content: ''; position: absolute; left:0; bottom: 0; width: 0; height: 1px; background-color: #FFB200; transition: all .3s;}
#headerWrap .loginBox{display: flex; align-items: center; gap: 0 0;} 
#headerWrap .loginBox a{position: relative; padding: 25px; color: #fff; font-weight: 500;}
#headerWrap .loginBox a:hover,
#headerWrap .menuBox .menuList li h2 a:hover{color: #FFB200;}
#headerWrap .loginBox a:hover::before,
#headerWrap .menuBox .menuList li h2 a:hover::before{width: 100%;}

@media (max-width: 1199px){

  #headerWrap .logoBox h1 a{padding: 20px 0;}
  #headerWrap .logoBox h1 a img{width: 110px;}
  #headerWrap .layoutBox{display: none;}

}

/* 푸터 */
#footerWrap{padding: 100px 0 80px; background-color: #FBFBFB;}
#footerWrap .footerLogoBox{margin-bottom: 15px;}
#footerWrap .footerLogoBox h1 img{margin-bottom: 25px; display: block; width: 150px;}
#footerWrap .footerLogoBox h1 span{display: block; font-size: 30px; font-weight: 700; color: #000;}
#footerWrap address{margin-bottom: 25px; font-size: 20px; color: #565656; font-weight: 700;}
#footerWrap .footerInfoList{margin-bottom: 70px;}
#footerWrap .footerInfoList .infoBox{display: flex; gap: 0 30px; margin-bottom: 20px;}
#footerWrap .footerInfoList .infoBox:last-child{margin-bottom: 0;}
#footerWrap .footerInfoList span{margin-right: 10px; font-weight: 700; font-size: 20px; color: #565656;}
#footerWrap .footerInfoList em{font-size: 20px; color: #565656; word-break: keep-all;}
#footerWrap .footerLink{display: flex; flex-wrap: wrap; justify-content: center; gap: 15px 60px; margin-bottom: 30px;}
#footerWrap .footerLink li a{display: block; font-size: 15px; font-weight: 600; color: #565656;}
#footerWrap .copyright{display: block; text-align: center; font-size: 13px; font-weight: 500; color:#565656;}

@media (max-width: 1199px){

  #footerWrap{padding: 60px 0;}
  #footerWrap .footerLogoBox h1 img{margin: 0 auto 30px;}
  #footerWrap{text-align: center;}
  #footerWrap .footerInfoList .infoBox{justify-content: center;}

}

@media (max-width: 1024px){

  #footerWrap .footerLogoBox h1 span{font-size: 24px;}
  #footerWrap address{font-size: 16px;}
  #footerWrap .footerInfoList span,
  #footerWrap .footerInfoList em{font-size: 17px;}
  #footerWrap .footerInfoList{margin-bottom: 40px;}

}

@media (max-width: 767px){

  #footerWrap .footerLogoBox h1 span{font-size: 20px;}
  #footerWrap address{font-size: 16px;}
  #footerWrap .footerInfoList span,
  #footerWrap .footerInfoList em{font-size: 16px;}
  #footerWrap .footerInfoList{margin-bottom: 40px;}

}

@media (max-width: 480px){

  #footerWrap .footerInfoList .infoBox{flex-direction: column;  gap: 10px 0; margin-bottom: 10px;}
  #footerWrap .footerInfoList .infoBox .box{margin-bottom: 10px;}
  #footerWrap .footerInfoList .infoBox .box span{display: block;}

}
