@charset "UTF-8";

/* 공통 */
button:disabled{background-color: #F4F4F4; border: 1px solid #E6E6E6; color: #B3B3B3!important; cursor: auto;}
#wrap {display: flex; flex-direction: column; min-height: 100%;}
#subWrap{flex: 1; margin-top: 76px; padding: 100px 0 150px;}

@media (max-width: 1199px){

  #subWrap{margin-top: 63px;}

}

/* 공통 - 여백 */
.mb-15{margin-bottom: 15px;}

/* 공통 - 폼 */
.formBox{margin-bottom: 25px;}
.formBox span{display: block; margin-bottom: 7px; font-weight: 500; font-size: 18px; color: #000;}
.inputLayoutBox{display: flex; gap: 0 15px;}
.inputTextBox input{padding:0 20px 0 16px; width: 100%; height: 60px; border: 1px solid #F8F8F8; font-size: 18px; font-weight: 500; border-radius: 13px; color: #000; background-color: #fff;}
.selectBox .selectBtn:focus,
.inputTextBox input:focus{outline: 0; border: 1px solid #FFB200;}
.inputTextBox input::placeholder{color: #D0D0D0;}

.selectBox{position: relative;}
.selectBox .selectBtn{position: relative; padding:0 20px 0 16px; width: 100%; height: 60px; border: 1px solid #F8F8F8; font-size: 18px; font-weight: 500; border-radius: 13px; color: #D0D0D0; text-align: left; background-color: #fff;}
.selectBox .selectBtn::after{content: ''; width: 14px; height: 9px; position: absolute; top: 50%; transform: translateY(-50%); right:20px; background: url(../images/sub/arrow_icon01.svg)no-repeat center; transition: all .3s;}
.selectBox .selectBtn.active::after{transform: translateY(-50%) rotate(-180deg);}
.selectBox .selectList{display: none; padding: 20px 15px; position: absolute; top:63px; left:0; right:0; border: 1px solid #E3E3E3; background-color: #fff; border-radius: 16px;}
.selectBox .selectList li{margin-bottom: 15px;}
.selectBox .selectList li:last-child{margin-bottom: 0;}
.selectBox .selectList li .btn{display: block; padding: 0 10px 0 15px;  width: 100%; height: 43px; text-align: left; font-size: 18px; font-weight: 500; color: #000; border-radius: 8px; transition: all .3s;}
.selectBox .selectList li .btn:hover{background-color: #FFF7E5;}

.inputChkWrap{margin-bottom: 15px; padding: 16px; border-radius: 13px; border: 1px solid #F8F8F8; background-color: #fff;}
.inputChkWrap .inputChkBox{width: 100%; display: flex; align-items: center; justify-content: space-between; }
.inputChkWrap:last-child{margin-bottom: 0;}
.inputChkWrap .agreeView{font-weight: 500; color: #B3B3B3; line-height: 1;}
.inputChkWrap p{margin-top: 16px; font-weight: 500; color: #B3B3B3;}
.inputChkBox label{flex-wrap: wrap; display: flex; align-items: center; gap: 5px 8px; font-weight: 500; color: #000; font-size: 16px; cursor: pointer;}
.inputChkBox label::before{content: ''; width: 24px; height: 24px; border: 1px solid #E3E3E3; border-radius: 6px;}
.inputChkBox input:checked + label::before{width: 26px; height: 26px; background: url(../images/sub/chk.svg)no-repeat center; background-size: contain!important; border: 0;}
.inputChkBox label em{font-weight: 500; color: #D0D0D0; font-size: 16px;}


@media (max-width: 767px){

  .selectBox .selectBtn,
  .selectBox .selectList li .btn,
  .inputTextBox input,
  .formBox span{font-size: 16px;}
  .inputChkWrap,
  .inputTextBox input{border-radius: 8px;}
  .inputChkBox label::before{margin-top: -1px; width: 20px; height: 20px; border-radius: 3px;}
  .inputChkBox input:checked + label::before{width: 22px; height: 22px;}
  .inputChkWrap{padding: 17px 16px;}
  
}

@media (max-width: 480px){

  .selectBox .selectBtn,
  .inputTextBox input{padding: 0 20px 0 10px;}
  .inputChkBox label em,
  .inputChkWrap p,
  .inputChkBox label,
  .inputChkWrap .agreeView,
  .selectBox .selectBtn,
  .selectBox .selectList li .btn,
  .inputTextBox input,
  .formBox span{font-size: 14px;}
  .selectBox .selectBtn,
  .inputTextBox input{height: 55px;}
  .inputChkWrap{padding: 16px;}

  .inputChkBox label{gap: 0 5px;}
  .inputChkBox label::before{width: 18px; height: 18px;}
  .inputChkBox input:checked + label::before{width: 20px; height: 20px;}

}

@media (max-width: 414px){

  .inputChkBox label::before{width: 15px; height: 15px;}
  .inputChkBox input:checked + label::before{width: 17px; height: 17px;}

}

@media (max-width: 360px){

  .inputChkWrap .inputChkBox{flex-direction: column; align-items: flex-start; gap: 10px 0;}
  .inputChkWrap p{margin-top: 10px;}

}

@media (max-width: 340px){

  .inputChkWrap{padding: 10px;}
  .inputChkBox label em,
  .inputChkWrap .agreeView,
  .inputChkWrap p,
  .inputChkBox label{font-size: 12px;}

}

/* 헤더 */
#headerWrap{background-color: #fff; border-bottom: 1px solid #EAEAEA;}
#headerWrap .menuBox .menuList::after,
#headerWrap .menuBox::after{background-color: #000;}
#headerWrap .loginBox a,
#headerWrap .menuBox .menuList li h2 a{color: #000;}

/* 로그인 */
.loginBox .container{max-width: 440px;}
.loginBox .titleBox{margin-bottom: 60px;}
.loginBox .titleBox .title{font-size: 30px;}
.loginBox .loginBtn{display: block; width: 100%; margin-bottom: 25px; height: 60px; color: #fff; border-radius: 16px; text-align: center; font-size: 20px; font-weight: 600;}
.loginBox .infoText{text-align: center; color: #565656; font-weight: 500;}
.loginBox .infoText a{color: #7E7E7E; text-decoration: underline;}

@media (max-width: 1024px){

  .loginBox .container{max-width: 100%;}
  .loginBox .loginBtn{font-size: 18px;}

  .loginBox .titleBox .title{font-size: 28px;}

}

@media (max-width: 767px){

  .loginBox .loginBtn{height: 50px; border-radius: 8px; font-size: 16px;}
  .loginBox .titleBox .title{font-size: 24px;}

}

@media (max-width: 480px){

  .loginBox .titleBox .title{font-size: 22px;}

}

@media (max-width: 414px){

  .loginBox .titleBox .title{font-size: 20px;}

}