@charset "UTF-8";

/* 공통 */
button:disabled{background-color: #F4F4F4; border: 1px solid #E6E6E6; color: #B3B3B3!important; cursor: auto;}
#wrap {display: flex; flex-direction: column; min-height: 100%;}
#subWrap{flex: 1; margin-top: 76px; padding: 90px 0 150px;}

@media (max-width: 1199px){

  #subWrap{margin-top: 63px;}

}

@media (max-width: 414px){

  #subWrap{padding: 70px 0 150px;}

}

/* 공통 - 여백 */
.mb-15{margin-bottom: 15px;}

/* 공통 - 폼 */
.formBox{margin-bottom: 25px;}
.formBox span{display: block; margin-bottom: 7px; font-weight: 500; font-size: 18px; color: #000;}
.inputLayoutBox{display: flex; gap: 0 15px;}
.inputTextBox input{padding:0 20px 0 16px; width: 100%; height: 60px; border: 1px solid #F8F8F8; font-size: 18px; font-weight: 500; border-radius: 13px; color: #000; background-color: #fff;}
.selectBox .selectBtn:focus,
.inputTextBox input:focus{outline: 0; border: 1px solid #FFB200;}
.inputTextBox input::placeholder{color: #D0D0D0;}

.selectBox{position: relative;}
.selectBox .selectBtn{position: relative; padding:0 20px 0 16px; width: 100%; height: 60px; border: 1px solid #F8F8F8; font-size: 18px; font-weight: 500; border-radius: 13px; color: #D0D0D0; text-align: left; background-color: #fff;}
.selectBox .selectBtn::after{content: ''; width: 14px; height: 9px; position: absolute; top: 50%; transform: translateY(-50%); right:20px; background: url(../images/sub/arrow_icon01.svg)no-repeat center; transition: all .3s;}
.selectBox .selectBtn.active::after{transform: translateY(-50%) rotate(-180deg);}
.selectBox .selectList{display: none; padding: 20px 15px; position: absolute; top:63px; left:0; right:0; border: 1px solid #E3E3E3; background-color: #fff; border-radius: 16px;}
.selectBox .selectList li{margin-bottom: 15px;}
.selectBox .selectList li:last-child{margin-bottom: 0;}
.selectBox .selectList li .btn{display: block; padding: 0 10px 0 15px;  width: 100%; height: 43px; text-align: left; font-size: 18px; font-weight: 500; color: #000; border-radius: 8px; transition: all .3s;}
.selectBox .selectList li .btn:hover{background-color: #FFF7E5;}

.inputChkWrap{margin-bottom: 15px; padding: 16px; border-radius: 13px; border: 1px solid #F8F8F8; background-color: #fff;}
.inputChkWrap .inputChkBox{width: 100%; display: flex; align-items: center; justify-content: space-between; }
.inputChkWrap:last-child{margin-bottom: 0;}
.inputChkWrap .agreeView{font-weight: 500; color: #B3B3B3; line-height: 1;}
.inputChkWrap p{margin-top: 16px; font-weight: 500; color: #B3B3B3;}
.inputChkBox label{flex-wrap: wrap; display: flex; align-items: center; gap: 5px 8px; font-weight: 500; color: #000; font-size: 16px; cursor: pointer;}
.inputChkBox label::before{content: ''; width: 24px; height: 24px; border: 1px solid #E3E3E3; border-radius: 6px;}
.inputChkBox input:checked + label::before{width: 26px; height: 26px; background: url(../images/sub/chk.svg)no-repeat center; background-size: contain!important; border: 0;}
.inputChkBox label em{font-weight: 500; color: #D0D0D0; font-size: 16px;}


@media (max-width: 767px){

  .selectBox .selectBtn,
  .selectBox .selectList li .btn,
  .inputTextBox input,
  .formBox span{font-size: 16px;}
  .inputChkWrap,
  .inputTextBox input{border-radius: 8px;}
  .inputChkBox label::before{margin-top: -1px; width: 20px; height: 20px; border-radius: 3px;}
  .inputChkBox input:checked + label::before{width: 22px; height: 22px;}
  .inputChkWrap{padding: 17px 16px;}
  
}

@media (max-width: 480px){

  .selectBox .selectBtn,
  .inputTextBox input{padding: 0 20px 0 10px;}
  .inputChkBox label em,
  .inputChkWrap p,
  .inputChkBox label,
  .inputChkWrap .agreeView,
  .selectBox .selectBtn,
  .selectBox .selectList li .btn,
  .inputTextBox input,
  .formBox span{font-size: 14px;}
  .selectBox .selectBtn,
  .inputTextBox input{height: 55px;}
  .inputChkWrap{padding: 16px;}

  .inputChkBox label{gap: 0 5px;}
  .inputChkBox label::before{width: 18px; height: 18px;}
  .inputChkBox input:checked + label::before{width: 20px; height: 20px;}

}

@media (max-width: 414px){

  .inputChkBox label::before{width: 15px; height: 15px;}
  .inputChkBox input:checked + label::before{width: 17px; height: 17px;}

}

@media (max-width: 360px){

  .inputChkWrap .inputChkBox{flex-direction: column; align-items: flex-start; gap: 10px 0;}
  .inputChkWrap p{margin-top: 10px;}

}

@media (max-width: 340px){

  .inputChkWrap{padding: 10px;}
  .inputChkBox label em,
  .inputChkWrap .agreeView,
  .inputChkWrap p,
  .inputChkBox label{font-size: 12px;}

}

/* 헤더 */
#headerWrap{background-color: #fff; border-bottom: 1px solid #EAEAEA;}
#headerWrap .menuBox .menuList::after,
#headerWrap .menuBox::after{background-color: #000;}
#headerWrap .loginBox a,
#headerWrap .menuBox .menuList li h2 a{color: #000;}

/* 로그인 */
.loginBox .container{max-width: 440px;}
.loginBox .titleBox{margin-bottom: 60px;}
.loginBox .titleBox .title{font-size: 30px;}
.loginBox .loginBtn{display: block; width: 100%; margin-bottom: 25px; height: 60px; color: #fff; border-radius: 16px; text-align: center; font-size: 20px; font-weight: 600;}
.loginBox .infoText{text-align: center; color: #565656; font-weight: 500;}
.loginBox .infoText a{color: #7E7E7E; text-decoration: underline;}

@media (max-width: 1024px){

  .loginBox .container{max-width: 100%;}
  .loginBox .loginBtn{font-size: 18px;}

  .loginBox .titleBox .title{font-size: 28px;}

}

@media (max-width: 767px){

  .loginBox .loginBtn{height: 50px; border-radius: 8px; font-size: 16px;}
  .loginBox .titleBox .title{font-size: 24px;}

}

@media (max-width: 480px){

  .loginBox .titleBox .title{font-size: 22px;}

}

@media (max-width: 414px){

  .loginBox .titleBox .title{font-size: 20px;}

}

/* 이벤트 */
.eventBox .event_List{display: flex; flex-wrap: wrap; gap: 72px 2.67%;}
.eventBox .event_List li{width: 31.55%;}
.eventBox .event_List li a{display: block;}
.eventBox .event_List li a .imgBox{margin-bottom: 20px; position: relative; height: 0; padding-top: 57%; border-radius: 20px; overflow: hidden;}
.eventBox .event_List li a .imgBox img{position: absolute; top:0; left:0; right:0; bottom: 0; width: 100%; height: 100%; object-fit: cover;}
.eventBox .event_List li a .textBox h3{margin-bottom: 6px; font-size: 20px; font-weight: 700; color: #000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.eventBox .event_List li a .textBox .date{font-size: 18px; font-weight: 600; color: #A6A6A6;}

@media (max-width: 1024px){

  .eventBox .event_List li a .textBox h3{font-size: 18px;}
  .eventBox .event_List li a .textBox .date{font-size: 16px;}

}

@media (max-width: 767px){

  .eventBox .event_List{gap: 60px 3%}
  .eventBox .event_List li{width: 48.5%;}

}

@media (max-width: 480px){

  .eventBox .event_List{gap: 60px 0}
  .eventBox .event_List li{width: 100%;}

}

@media (max-width: 414px){

  .eventBox .event_List{gap: 30px 0}
  .eventBox .event_List li a .imgBox{margin-bottom: 13px;}
  .eventBox .event_List li a .textBox h3{ margin-bottom: 0;font-size: 16px;}
  .eventBox .event_List li a .textBox .date{font-size: 14px;}

}

/* 금융상품 */
.productBox .top{position: relative; margin-bottom: 32px; padding: 40px 20px 20px 38px; height: 250px; border-radius: 20px; background-color: #FFB200;}
.productBox .top::after{content: ''; width: 303px; height: 228px; position: absolute; top:12px; right:56px; background: url(../images/sub/product_icon01.svg)no-repeat center; background-size: contain;}
.productBox .top span{margin-bottom: 15px; display: block; font-size: 20px; font-weight: 700; color: #fff;}
.productBox .top .title{font-size: 36px; font-weight: 700; color: #fff; line-height: 1.4;}
.productBox .productList{margin-bottom: 60px; display: flex; flex-wrap: wrap; gap: 32px 2.8%;}
.productBox .productList li{width: 48.6%;}
.productBox .productList li a{display: block; position: relative; border: 1px solid #DDDDDD; border-radius: 20px; overflow: hidden;}
.productBox .productList li a:hover{border: 1px solid #FFB200;}
.productBox .productList li a .badge{position: absolute; top:0; right:0;}
.productBox .productList li .textBox{padding: 48px 20px 40px 48px;}
.productBox .productList li .textBox .infoBox{margin-bottom: 10px; display: flex; gap: 0 15px;}
.productBox .productList li .textBox .infoBox span{padding: 4px 11px; border-radius: 8px; font-weight: 500;}
.productBox .productList li .textBox .infoBox span.best{background-color: #FFF7E5; color: #FFB200;}
.productBox .productList li .textBox .infoBox span.new{background-color: #EBFAF9; color: #39B9B3;}
.productBox .productList li .textBox h4{margin-bottom: 13px; font-size: 36px; color: #000; font-weight: 700;}
.productBox .productList li .textBox p{font-size: 24px; font-weight: 700; color: #12124F;}
.productBox .productList li .textBox p strong{color: #FFB200;}
.productBox .productList li .infoListBox{display: flex; gap: 0 72px; padding: 42px 20px 46px 48px; background-color: #FBFBFB;}
.productBox .productList li .infoListBox .box span{display: block; margin-bottom: 15px; font-weight: 700; color: #9E9E9E;}
.productBox .productList li .infoListBox .box strong{font-size: 24px; font-weight: 700; color: #12124F;}
.productBox .infoTextBox{margin-bottom: 32px; padding: 30px 20px 30px 38px; border: 1px solid #DDDDDD; border-radius: 20px;}
.productBox .infoTextBox h4{margin-bottom: 25px; font-size: 36px; font-weight: 700; color: #000;}
.productBox .infoTextBox .box{margin-bottom: 40px;}
.productBox .infoTextBox .box:last-child{margin-bottom: 0;}
.productBox .infoTextBox .box span{display: block; margin-bottom: 5px; font-size: 20px; font-weight: 700; color: #000;}
.productBox .infoTextBox .box em{display: block; font-size: 18px; color: #9E9E9E; font-weight: 600;}

@media (max-width: 1024px){

  .productBox .productList li .textBox{padding: 40px 20px 40px 35px;}
  .productBox .productList li .textBox h4{font-size: 26px;}
  .productBox .productList li .textBox p{font-size: 18px;}
  .productBox .productList li .infoListBox{padding: 35px 20px 35px 35px;}
  .productBox .productList li .infoListBox .box strong{font-size: 22px;}
  .productBox .productList li .infoListBox .box span{margin-bottom: 10px;}
  .productBox .productList li .infoListBox{gap: 0 35px;}
  
  .productBox .top span{font-size: 18px;}
  .productBox .top .title{font-size: 32px;}
  .productBox .top::after{top: 50%; transform: translateY(-50%); width: 250px; height: 185px;}

  .productBox .infoTextBox h4{font-size: 28px;}
  .productBox .infoTextBox .box span{font-size: 18px;}
  .productBox .infoTextBox .box em{font-size: 16px;}
  .productBox .infoTextBox .box{margin-bottom: 30px;}
  .productBox .infoTextBox{padding: 25px 30px;}
  
}

@media (max-width: 767px){

  .productBox .top span{font-size: 16px;}
  .productBox .top .title{font-size: 26px;}
  .productBox .top{height: 200px;}
  .productBox .top::after{top: 50%; transform: translateY(-50%); width: 200px; height: 135px;}
  
  .productBox .productList li{width: 100%;}
  .productBox .productList li .textBox{padding: 35px 20px 35px 30px;}
  .productBox .productList li .textBox h4{font-size: 24px;}
  .productBox .productList li .textBox p{font-size: 16px;}
  .productBox .productList li .infoListBox{padding: 30px 20px 30px 30px;}
  .productBox .productList li .infoListBox .box strong{font-size: 18px;}
  .productBox .productList li .infoListBox .box span{margin-bottom: 5px;}
  .productBox .productList li .infoListBox{gap: 0 30px;}
  .productBox .productList li a .badge{width: 100px;}

  .productBox .productList{margin-bottom: 40px;}
  .productBox .infoTextBox h4{font-size: 24px;}
  .productBox .infoTextBox .box span{font-size: 16px;}
  .productBox .infoTextBox .box em{font-size: 14px;}
  .productBox .infoTextBox .box{margin-bottom: 20px;}
  .productBox .infoTextBox{padding: 25px 30px;}

}

@media (max-width: 480px){

  .productBox .top{height: 180px; padding: 40px 20px 20px 20px;}
  .productBox .top::after{right: 0;}
  .productBox .top span{font-size: 16px;}
  .productBox .top .title{font-size: 22px;}

  .productBox .productList li .textBox{padding: 35px 20px 35px 25px;}
  .productBox .productList li .infoListBox{padding: 30px 20px 30px 25px;}
  .productBox .productList li .textBox .infoBox span{font-size: 14px; border-radius: 5px;}
  .productBox .productList li .textBox h4{margin-bottom: 8px; font-size: 20px;}
  .productBox .productList li .textBox p{font-size: 14px;}
  .productBox .productList li .infoListBox .box strong{font-size: 16px;}
  .productBox .productList li a .badge{width: 90px;}

  .productBox .productList{margin-bottom: 30px;}
  .productBox .infoTextBox h4{font-size: 20px;}
  .productBox .infoTextBox .box{margin-bottom: 15px;}
  .productBox .infoTextBox{padding: 25px 20px;}
  
}

@media (max-width: 414px){

  .productBox .top{height: 150px; padding: 0 0 0 20px;  display: flex; flex-direction: column; justify-content: center;}
  .productBox .top span{font-size: 16px;}
  .productBox .top .title{font-size: 18px;}
  .productBox .top::after{top: 50%; transform: translateY(-50%); width: 160px; height: 95px;}

  .productBox .productList{gap: 20px 0;}
  .productBox .productList li a .badge{width: 70px;}

}

@media (max-width: 320px){

  .productBox .top{border-radius: 15px;}
  .productBox .top span{font-size: 14px;}
  .productBox .top .title{font-size: 16px;}
  .productBox .top::after{width: 120px;}

}

/* 회사소개 */
.introduceBox{margin-top: -90px;}
.introduceBox .top{padding: 0 20px; position: relative; height: 100vh; display: flex; align-items: center; justify-content: center; overflow: hidden;}
.introduceBox .top::after{content: ''; position: absolute; top:0; left:0; right:0; bottom: 0; background: url(../images/sub/introduce_img01.jpg)no-repeat center; background-size: cover; z-index: -1; transform: scale(1.6); transition: all 7s;}
.introduceBox .top h3{margin-top: -90px; color: #fff; text-align: center; font-size: 45px; word-break: keep-all;} 
.introduceBox .top h3 span{margin-bottom: 10px; display: block; font-size: 20px; font-weight: 700;}
.introduceBox .top h3 strong{color: #FFB200;}
.introduceBox .top h3 strong em{position: relative;}
.introduceBox .top h3 strong em::before{content: ''; width: 10px; height: 10px; position: absolute; top:-19px; left:50%; transform: translateX(-50%); border-radius: 50%; background-color: #FFB200;}
.introduceBox .top.active::after{transform: scale(1);}
.introduceBox .infoBox{padding: 120px 0;}
.introduceBox .infoBox .titleBox{margin-bottom: 110px;}
.introduceBox .infoBox .infoList{display: flex; gap: 0 23px;}
.introduceBox .infoBox .infoList li{flex: 1; position: relative; padding: 90px 30px 20px; border: 1px solid #EAEAEA; border-radius: 20px;}
.introduceBox .infoBox .infoList li .number{position: absolute; top:30px; right:30px; width: 30px; height: 30px; line-height: 30px; border-radius: 50%; text-align: center; background-color: #FFB200; font-size: 20px; font-weight: 700; color: #fff;}
.introduceBox .infoBox .infoList li .title{margin-bottom: 30px; font-size: 24px; font-weight: 700; color: #000;}
.introduceBox .infoBox .infoList li .text{font-size: 18px; font-weight: 600; color: #949393;}
.introduceBox .coreValueBox{padding: 160px 0; background-color: #FCFCFC;}
.introduceBox .coreValueBox .titleBox{margin-bottom: 80px;}
.introduceBox .coreValueList{max-width: 1000px; margin: 0 auto; display: flex; gap: 0 40px;}
.introduceBox .coreValueList li{flex: 1; display: flex; align-items: center; flex-direction: column; }
.introduceBox .coreValueList li h3{margin:0 auto 40px; max-width: 220px; width: 100%; height: 80px; line-height: 80px; border-radius: 16px; color: #FFB200; font-size: 26px; font-weight: 700; text-align: center; background-color: #FFF5DE;}
.introduceBox .coreValueList li::before{content: ''; width: 100px; height: 100px; margin-bottom: 48px;}
.introduceBox .coreValueList li:nth-child(1)::before{background: url(../images/sub/corevalue_icon01.svg)no-repeat center;}
.introduceBox .coreValueList li:nth-child(2)::before{background: url(../images/sub/corevalue_icon02.svg)no-repeat center;}
.introduceBox .coreValueList li:nth-child(3)::before{background: url(../images/sub/corevalue_icon03.svg)no-repeat center;}
.introduceBox .coreValueList li:nth-child(4)::before{background: url(../images/sub/corevalue_icon04.svg)no-repeat center;}
.introduceBox .coreValueList li p{text-align: center; font-size: 18px; font-weight: 600; color: #949393; word-break: keep-all;}
.introduceBox .infoBox02{padding: 120px 0;}
.introduceBox .infoBox02 .titleBox{ margin-bottom: 110px;}
.introduceBox .infoBox02 .infoText{display: flex; gap: 0 32px;}
.introduceBox .infoBox02 .infoText li{padding: 35px 20px 20px 48px; position: relative; flex: 1; height: 374px; border-radius: 20px; background-color: #FFB200; z-index: 1;}
.introduceBox .infoBox02 .infoText li::after{content: ''; position: absolute; background-size: contain!important; z-index: -1;}
.introduceBox .infoBox02 .infoText li:nth-child(1):after{width: 349px; height: 250px; bottom: 0; left: 50%; transform: translateX(-50%); background: url(../images/sub/info_icon01.svg)no-repeat center;}
.introduceBox .infoBox02 .infoText li:nth-child(2):after{bottom: 11px; width: 282px; height: 212px; right:26px; background: url(../images/sub/info_icon02.svg)no-repeat center;}
.introduceBox .infoBox02 .infoText li strong{display: block; margin-bottom: 12px; font-size: 30px; color: #fff;}
.introduceBox .infoBox02 .infoText li p{font-size: 22px; font-weight: 700; color: #fff;}
.introduceBox .introduceTextBox{padding: 90px 0 0;}
.introduceBox .introduceTextBox .titleBox{margin-bottom: 80px;}
.introduceBox .introduceTextBox .titleBox .title{text-align: left;}
.introduceBox .introduceTextBox .text{font-size: 20px; color: #565656; line-height: 2;}

@media (max-width: 1199px){

  .introduceBox .infoBox .infoList{flex-wrap: wrap; gap: 20px 2%;}
  .introduceBox .infoBox .infoList li{width: 49%; flex: none;}

}

@media (max-width: 1024px){

  .introduceBox .coreValueBox{padding: 80px 0;}
  .introduceBox .coreValueList li h3{margin: 0 auto 20px; height: 50px; line-height: 50px; font-size: 20px; border-radius: 5px;}
  .introduceBox .coreValueList li p{font-size: 16px;}

  .introduceBox .infoBox .infoList li{padding: 60px 30px 20px;}
  .introduceBox .infoBox .infoList li .title{margin-bottom: 20px; font-size: 20px;}
  .introduceBox .infoBox .infoList li .text{font-size: 16px;}
  .introduceBox .infoBox .infoList li .number{top:20px; width: 25px; height: 25px; line-height: 25px; font-size: 18px;}

  .introduceBox .top h3 span{font-size: 18px;}
  .introduceBox .top h3{font-size: 36px;}
  .introduceBox .top h3 strong em::before{width: 8px; height: 8px; top: -10px;}

  .introduceBox .infoBox02{padding: 80px 0;}
  .introduceBox .infoBox02 .titleBox{margin-bottom: 80px;}
  .introduceBox .infoBox02 .infoText{flex-direction: column; gap: 30px 0;}
  .introduceBox .infoBox02 .infoText li{padding: 35px 20px 150px 30px; width: 100%; height: auto;}
  .introduceBox .infoBox02 .infoText li strong{font-size: 26px;}
  .introduceBox .infoBox02 .infoText li p{font-size: 20px;}

  .introduceBox .introduceTextBox .titleBox{margin-bottom: 60px;}
  .introduceBox .introduceTextBox{padding: 60px 0 0;}
  .introduceBox .introduceTextBox .text{font-size: 18px;}

}

@media (max-width: 767px){

  .introduceBox .infoBox .infoList li{padding: 50px 20px 30px;}
  .introduceBox .infoBox .infoList li .title{margin-bottom: 15px; font-size: 18px;}
  .introduceBox .infoBox .infoList li .number{font-size: 16px;}

  .introduceBox .top h3 span{font-size: 16px;}
  .introduceBox .top h3{font-size: 32px;}

  .introduceBox .coreValueList{gap: 100px 0; flex-wrap: wrap;}
  .introduceBox .coreValueList li{flex: none; width: 50%;}
  .introduceBox .coreValueList li::before{margin-bottom: 25px;}
  .introduceBox .coreValueList li h3{font-size: 18px;}
  
  .introduceBox .infoBox02 .infoText li strong{font-size: 24px;}
  .introduceBox .infoBox02 .infoText li p{font-size: 18px;}

  .introduceBox .introduceTextBox .titleBox{margin-bottom: 40px;}
  .introduceBox .introduceTextBox{padding: 40px 0 0;}
  .introduceBox .introduceTextBox .text{font-size: 16px;}
  .introduceBox .introduceTextBox .text br{display: none;}
  .introduceBox .introduceTextBox .text span{display: block; margin-top: 20px;}

}

@media (max-width: 576px){

  .introduceBox .infoBox .infoList{gap: 20px 0;}
  .introduceBox .infoBox .infoList li{width: 100%;}
  .introduceBox .infoBox .infoList li .text br{display: none;}

  .introduceBox .coreValueList li{width: 100%;}
  .introduceBox .coreValueList li h3{max-width: none;}

  .introduceBox .infoBox02 .infoText li:nth-child(1):after{width: 240px; height: 172px;}
  .introduceBox .infoBox02 .infoText li:nth-child(2):after{width: 175px; height: 130px; right: 0; bottom: 0;}

  .introduceBox .introduceTextBox .titleBox{margin-bottom: 30px;}
  .introduceBox .introduceTextBox{padding: 20px 0 0;}

}

@media (max-width: 414px){

  .introduceBox .coreValueList li h3{font-size: 16px;}
  .introduceBox .coreValueList li p{font-size: 14px;}

  .introduceBox .infoBox02 .infoText li{padding: 30px 20px 150px;}
  .introduceBox .infoBox02 .infoText li strong{font-size: 16px;}
  .introduceBox .infoBox02 .infoText li p{font-size: 14px;}
  .introduceBox .infoBox02 .infoText li p br{display: none;}

 .introduceBox .introduceTextBox .titleBox{margin-bottom: 20px;}
  .introduceBox .introduceTextBox{padding: 0;}


}

@media (max-width: 360px){

  .introduceBox .infoBox{padding: 80px 0;}
  .introduceBox .infoBox .titleBox{margin-bottom: 70px;}

  .introduceBox .top h3{font-size: 26px;}
  .introduceBox .top h3 strong em::before{width: 5px; height: 5px;}

  .introduceBox .coreValueBox .titleBox{margin-bottom: 60px;}

}

@media (max-width: 320px){

  .introduceBox .infoBox02{padding: 60px 0;}
  .introduceBox .infoBox .infoList li .title{margin-bottom: 10px; font-size: 16px;}
  .introduceBox .infoBox .infoList li .text{font-size: 14px;}
  .introduceBox .infoBox .infoList li .number{top: 15px; right: 20px; width: 20px; height: 20px; line-height: 20px; font-size: 14px;}

  .introduceBox .infoBox02 .titleBox{margin-bottom: 54px;}

}